/*
 * Component: w-fit-container
 *
 * fixes the witdh of a container to the current breakpoint
 *
 * */

.w-fit-container{

  /* center horizontally */
  margin: auto;
}
@media (min-width: 320px){
  .w-fit-container{
    max-width: 280px;
  }
}
@media (min-width: 400px){
  .w-fit-container{
    max-width: 360px;
  }
}
@media (min-width: 480px){
  .w-fit-container{
    max-width: 440px;
  }
}

@media (min-width: 770px){
  .w-fit-container{
    max-width: 730px;
  }
}

@media (min-width: 1024px){
  .w-fit-container{
    max-width: 984px;
  }
}

@media (min-width: 1200px){
  .w-fit-container{
    max-width: 1160px;
  }
}

/*
 * Component: flex-list-container
 *
 * keeps a list of elements in responsive way
 *
 * */
.flex-list-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}
.flex-list-container *{
  flex: 0 0 auto;
}

/*
 * Component: card
 *
 * contains a title H3, a paragraph and an image
 *
 * */

.card-wrapper{
}

.card{

  width: 30rem; 
  height: 40rem;

  border-radius: 1.0em;
  box-shadow: 0rem 0rem 1rem 0rem ;
  margin: 2rem;
  /* background-color: #7699D4; */

  overflow: hidden;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: white;
}

.card h3{
  margin: auto;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  /* color: var(--emph-text-color); */
  padding: 0rem 2rem;
  padding-top: 1rem;

}
.card p{
  text-align: justify;
  font-size: 1.4rem;
  padding: 0rem 2rem;
  padding-top: 1.5rem;
  color: var(--not-important-color);
}

.card img{
  object-fit:cover;
}
/*
 * Component: img-wrapper
 *
 * this is a container that holds an image with 16:9 aspect ratio
 *
 * */

.image-wrapper{ 
  position: relative;

  width: 100%;
  padding-top: 56.25%;
}
.image-wrapper img{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  vertical-align:top;
}




/*
 * Component: form-wrapper
 *
 * constains a form and a .form-desciption
 *
 * */
.form-wrapper{
  font-size: 1.5rem;
}

.form-wrapper .form-description{
  text-align: center;
  font-size: 2rem;
}

.form-wrapper form{
  margin: auto;
  margin-top: 3rem;
  background-color: white;
  padding: 2rem;
  

  border-radius: 1.0em;
  box-shadow: 0rem 0rem 1rem 0rem ;

}

.form-wrapper form .form-entry{
  margin-top: 1em;
} 

.form-wrapper form input[type="checkbox"] {
  margin-right: 1em;
}

.form-wrapper form .email-entry label{
  display: block;

}
.form-wrapper form .email-entry input{
  width: 100%;
  padding: 0.5em 1em;
  border: 1px solid gray;
  border-radius: 0.3em;
}
@media (min-width: 770px ){
  .form-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .form-wrapper .form-description,
  .form-wrapper form{
    margin: 2rem;
    padding: 1rem;
    flex: 1 1 0;
  }
  .form-wrapper .form-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1024px ){
  .form-wrapper .form-description,
  .form-wrapper form{
    margin: 5rem;
    padding: 1rem;
    flex: 1 1 0;
  }
  .form-wrapper .form-description{
    font-size: 2.3rem;

  }
  .form-wrapper form .form-entry{
    font-size: 2rem;
  }

}
