/* adding default properties to eveeything */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  /* default font size */
  font-size: 62.5%;
}
/* remove defualt links styling */
a{
  text-decoration: none;
  color: inherit;
}

nav{
  background-color: var(--nav-bg-color);
  color: var(--main-text-color);

  height: fit-content;
  font-size: 2rem;
}



/* page CSS */

/* TODO: make resizable */
nav .w-fit-container{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
nav .w-fit-container *{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;

}

nav ul *{
  margin: auto;
}

@media (min-width: 770px){
  nav .w-fit-container{
    flex-direction: row;
  }
  nav ul{
    width: 50%;
  }
}
