/* adding default properties to eveeything */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  /* default font size */
  font-size: 62.5%;
}
/* remove defualt links styling */
a{
  text-decoration: none;
  color: inherit;
}

nav{
  background-color: var(--nav-bg-color);
  color: var(--main-text-color);

  height: fit-content;
  font-size: 2rem;
}

section {

  padding-top: 3rem;

}




/* page CSS */

/* TODO: make resizable */
nav .w-fit-container{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  /* padding: 0rem 4rem; */
}
nav .w-fit-container *{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

@media (min-width: 770px){
  nav .w-fit-container{
    flex-direction: row;
  }
  nav ul{
    width: 40%;
  }
}


section h2{
  /* color: var(--emph-text-color); */
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

section button{
  /* coloring */
  background-color: var(--emph-text-color);
  color: white;
  /* decoration */
  padding:1em 2em;;
  border-radius: 1em;
  /* center the button */
  display: block;
  margin: auto;
  /* font */
  font-size: 2rem;
  font-weight: 700;

}


#blogposts-section{
  background-color: #eef1f1;
  padding: 10rem 0rem;
}




